section {
    margin: 40px auto;
    padding: 0 30px;
}

section h2 {
    text-align: center;
    color:#9faebf;
    font-size: 28px;
    margin-bottom: 20px;
}

.item-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #242558;
    color: #9faebf;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #e0e0e0;
}
