header {
    background-color: #071d35;
    color: white;
    padding: 10px 40px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    width: 300px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.header-buttons {
    display: flex; 
    gap: 10px;    
}

.header-buttons button {
    padding: 5px 15px;
    background-color: #242558;
    color: #9faebf;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.header-buttons button:hover {
    background-color: #e0e0e0;
}
