.item-card {
    flex: 1 1 30%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #071d35;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-card img {
    width: 100%; /* Adjusted to make the image larger within the card */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; /* Limit maximum height to keep the layout consistent */
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
}

.item-card h3 {
    font-size: 20px;
    margin: 15px 0;
    color: #333;
}

.item-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.rating {
    color: #ffcc00;
    font-size: 18px;
    margin-bottom: 10px;
}
